<div class="appointment-form-block">
  <mat-accordion id="appointment-create-accordion">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span><strong>Create New Appointment</strong></span>
        </mat-panel-title>
        <mat-panel-description><div></div><mat-icon>add_circle</mat-icon></mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="appointmentFormGroup" class="appointment-fields">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="First Name" type="text" formControlName="first">
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Last Name (optional)" type="text" formControlName="lastName">
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <mat-form-field>
              <input matInput [matDatepicker]="startDate" placeholder="Choose a date" formControlName="date" required>
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate startView="year" [startAt]="startDate" ></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
                <mat-label>Drop Off Time</mat-label>
                <input id="dropOffTime" type="time" matInput [matDatepicker]="dropOffTime" formControlName="dropOffTime">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="dropOffTime"></mat-datepicker-toggle>
                <mat-datepicker #dropOffTime></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
                <mat-label>Drop Off Time</mat-label>
                <input id="pickUpTime" type="time" matInput [matDatepicker]="pickUpTime" formControlName="pickUpTime">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="pickUpTime"></mat-datepicker-toggle>
                <mat-datepicker #pickUpTime></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <mat-form-field>
              <input matInput placeholder="Phone Number (optional)" type="text" formControlName="phoneNumber">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field>
              <input matInput placeholder="Email (optional)" type="text" formControlName="email">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Vehicle Type</mat-label>
              <mat-select formControlName="vehicleType">
                <mat-option *ngFor="let vehicle of vehiclesKeys" [value]="vehicle">{{vehicle}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Package</mat-label>
              <mat-select formControlName="packageName">
                <mat-option *ngFor="let _package of packagesKeys" [value]="_package">{{_package}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
      <mat-action-row>
        <button mat-raised-button color="primary" (click)="createAppointment()">Create Appointment</button>
      </mat-action-row>

    </mat-expansion-panel>
  </mat-accordion>
</div>
