<div class="sign-in-block main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              Hub Cap Admin
            </div>
          </div>
          <div class="card-body">
            <mat-tab-group>
              <mat-tab label="Log In">
                <div>
                  <form [formGroup]="loginForm" class="login-fields">
                    <div class="row">
                      <div class="col-12">
                        <mat-form-field>
                          <input matInput placeholder="email" formControlName="email" type="text">
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12">
                        <mat-form-field >
                          <input matInput placeholder="Password" formGroupName="password" type="text">
                        </mat-form-field>
                      </div>
                    </div>

                    <mat-action-row>
                      <button mat-raised-button color="primary" (click)="login()">Login</button>
                    </mat-action-row>
                  </form>
                </div>
              </mat-tab>
              <mat-tab label="Sign Up">
                <div>
                  <form [formGroup]="signUpForm" class="login-fields">
                    <div class="row">
                      <div class="col-12">
                        <mat-form-field>
                          <input matInput placeholder="username" formGroupName="username" type="text">
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12">
                        <mat-form-field>
                          <input matInput placeholder="email" formGroupName="email" type="text">
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <mat-form-field >
                          <input matInput placeholder="Password" formGroupName="password" type="text">
                        </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-form-field>
                          <input matInput placeholder="Retype Password" formGroupName="passwordConfirm" type="text">
                        </mat-form-field>
                      </div>
                    </div>

                    <mat-action-row>
                      <button mat-raised-button color="primary" (click)="signUp()">Sign Up</button>
                    </mat-action-row>
                  </form>
                </div>
              </mat-tab>
            </mat-tab-group>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>