<div id="promo-manager-block" class="main-content">
    <div>
        <mat-drawer-container id="promo-drawer-container" class="container">
            <div id="outer-history-button-container">
                <div class="row">
                    <button class="drawer-button" type="button" mat-button (click)="drawer.toggle()">
                        View History
                        <mat-icon>history</mat-icon>
                    </button>
                </div>
            </div>
            <div class="row">
                <div id="promo-overview-col" class="col-md-4">
                    <app-promo-overview #promoOverview></app-promo-overview>
                </div>
                <div id="promo-form-col" class="col-md-8">
                    <app-promo-form #promoForm></app-promo-form>
                </div>
            </div>

            <mat-drawer #drawer id="history-drawer-container" mode="over" position="end">
                <div id="inner-history-button-container">
                    <button class="drawer-button" type="button" mat-button (click)="drawer.toggle()">
                        Close History
                        <mat-icon>history</mat-icon>
                    </button>
                </div>
                <!--<app-promo-history [promoForm]="promoForm"></app-promo-history>-->
            </mat-drawer>
        </mat-drawer-container>
    </div>
</div>