<div id="overview-block" *ngIf="(packageService.packageArray | async) as packageArray">
    <div class="row">
        <div class="col-md-12">
            <div id="create-package-wrapper" class="new-package-wrapper" *ngIf="!packageService.creatingNewPackage">
                <button mat-button (click)="packageService.initNewPackage()"><h5>Create New Package</h5></button>
            </div>

            <div id="cancel-package-wrapper" class="new-package-wrapper" *ngIf="packageService.creatingNewPackage">
                <button mat-button (click)="packageService.cancelNewPackage()"><h5>Cancel Package Creation</h5></button>
            </div>

            <ul class="nav nav-fill">
                <li *ngFor="let _package of packageArray let i = index" class="nav-item" (click)="callSetFocusPackage(i)">
                    <button mat-button [ngClass]="{'active': (packageService.package | async)?.name === _package.name}">{{_package.name}}</button>
                </li>
            </ul>

            <hr>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul id="prices-tabs" class="nav nav-tabs" role="tablist" *ngIf="!packageService.creatingNewPackage">
                <li class="nav-item">
                    <a (click)="packageService.switchToOneTime()" [ngClass]="{'active': !packageService.isMonthly}" class="nav-link" id="home-tab" role="tab" aria-controls="home"
                       aria-selected="true">One-Time</a>
                </li>
                <li class="nav-item">
                    <a (click)="packageService.switchToMonthly()" [ngClass]="{'active': packageService.isMonthly}" class="nav-link" id="profile-tab" role="tab" aria-controls="profile"
                       aria-selected="false">Monthly</a>
                </li>
            </ul>

            <div class="package-list">
                <mat-list>
                    <mat-list-item *ngFor="let item of (packageService.package | async).packageItems">
                        <div>
                            <img class="item-icon" src="./assets/icons/icon-oval-check-hollow.svg" alt="">
                            <span>{{item.name}}</span>
                            <strong *ngIf="item.selectedSubOption.length > 0">&nbsp;({{item.selectedSubOption}})</strong>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>

    <div id="action-row-wrapper" *ngIf="(packageService.package | async) as focusPackage">
        <div class="row action-row">
            <button mat-button type="button" (click)="savePackage(focusPackage)">Save Package</button>
            <button id="delete-button" type="button" mat-button (click)="deletePackage(focusPackage.id)">Delete</button>
        </div>

        <div class="row action-row">
            <button mat-button id="save-all-button" type="button" (click)="savePackageArray(packageArray)">Save ALL Packages</button>
        </div>
    </div>
</div>
