<div class="exceptions-block">
    <div class="row">
        <div class="col-md-12">
            <div class="exception-form-container">
                <app-exception-form></app-exception-form>
            </div>

            <hr>

            <div class="exception-list-container" *ngIf="(storeService.store | async)">
                <div *ngFor="let exception of ((storeService.store | async).hoursOfOperation.hoursExceptions) as exceptions">
                    <app-exception [thisException]="exception" [exceptions]="exceptions"></app-exception>
                </div>
            </div>
        </div>
    </div>
</div>