.qr-scanner-block {
  margin: auto;
}

canvas {
  position: relative;
  width: 100% !important;
  height: 100% !important;
}

.scanner-wrapper {
  position: relative;
  display: block;
  margin: auto;
}

.scanner-wrapper .overlay {
  position: absolute;
  left: 25%;
  top: 25%;
  display: block;
  width: 50%;
  height: 50%;
  border: 3px dashed lightgray;
  z-index: 9 !important;
}

#output-wrapper {
  position: relative;

}

.output-message {
  bottom: 0;
  text-align: center;
  color: white;
  background-color: var(--danger);
}

.scan-success {
  background-color: var(--go) !important;
}

.modal-footer {
  text-align: center;

  button {
    margin: 0 10px;
  }
}
