<div id="promo-history-block">
    <mat-tab-group>
        <mat-tab label="Active">
            <div class="note"><h6>These promotions are currently <span class="text-success">ACTIVE</span></h6></div>
            <div *ngFor="let promo of promotionService.promotionArray | async; let i = index">
                <app-promo [promoIndex]="i" *ngIf="promo.isActive" [thisPromotion]="promo"></app-promo>
            </div>
        </mat-tab>
        <mat-tab label="Inactive">
            <div class="note"><h6>These promotions are currently <span class="text-danger">NOT ACTIVE</span></h6></div>
            <div *ngFor="let promo of promotionService.promotionArray | async; let i = index">
                <app-promo [promoIndex]="i" *ngIf="!promo.isActive" [thisPromotion]="promo"></app-promo>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>