<div id="package-manager-block" class="main-content">
    <div class="container">
        <div id="nav-section">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-sm-3">
                    <button mat-raised-button id="wash-button"
                            (click)="changeServiceType(E_PACKAGE_TYPE.WASH)"
                            [ngClass]="{'wash-selected': selectedServiceType === E_PACKAGE_TYPE.WASH, '': selectedServiceType !== E_PACKAGE_TYPE.WASH}">Wash</button>
                </div>
                <div  class="col-sm-3">
                    <button mat-raised-button id="detail-button"
                            (click)="changeServiceType(E_PACKAGE_TYPE.DETAIL)"
                            [ngClass]="{'detail-selected': selectedServiceType === E_PACKAGE_TYPE.DETAIL, '': selectedServiceType !== E_PACKAGE_TYPE.DETAIL}">Detail</button>
                </div>
            </div>
        </div>

        <div id="menu-section">
            <div class="row">
                <div id="preview-col" class="col-md-3" [ngClass]="{'wash-selected': selectedServiceType === E_PACKAGE_TYPE.WASH, 'detail-selected': selectedServiceType === E_PACKAGE_TYPE.DETAIL}">
                    <app-package *ngIf="packageService.serviceReady" (packageSelect)="setFocusPackage($event)"></app-package>
                </div>

                <div id="package-options-col" class="col-md-9">
                    <app-package-options *ngIf="packageService.serviceReady" (packageSelect)="setFocusPackage($event)"></app-package-options>
                </div>
            </div>
        </div>
    </div>
</div>