<div class="promo-history-block">
  <div class="row">
    <div class="col-md-12">
      <div class="promo">
        <div class="promo-header">
          <div class="promo-title">
            <h2>Promotion History</h2>
          </div>
        </div>

        <div class="promo-body">
          <mat-tab-group>
            <mat-tab label="Active">
              <h6>These promotions are currently LIVE</h6>
              <div class="list-group">
                <button *ngFor="let promo of getActivePromos()" type="button" class="list-group-item list-group-item-action">{{promo.name}}</button>
              </div>
            </mat-tab>
            <mat-tab label="Inactive">
              <h6>These promotions have ended</h6>
              <div class="list-group">
                <button *ngFor="let promo of getInActivePromos()" type="button" class="list-group-item list-group-item-action">{{promo.name}}</button>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>