<div class="promo-history-block">
  <div class="row">
    <div class="col-md-12">
      <div class="promo">
        <div class="promo-body">
          <mat-tab-group>
            <mat-tab label="Active">
              <div class="note"><h6>These promotions are currently <span class="text-success">ACTIVE</span></h6></div>
              <div class="list-group-item list-group-item-action" *ngFor="let promo of activePromos;" (click)="callChangePreview(promo)">
                  <span>{{promo.name}}</span>
                  <div class="button-group">
                    <button type="button" class="btn note-btn btn-edit" (click)="callEditPromo(promo)">Edit</button>
                    <button type="button" class="btn note-btn btn-danger" (click)="markInactive(promo)">Deactivate</button>
                  </div>
              </div>
            </mat-tab>
            <mat-tab label="Inactive">
              <div class="note"><h6>These promotions are currently <span class="text-danger">NOT ACTIVE</span></h6></div>
              <div class="list-group-item list-group-item-action" *ngFor="let promo of inActivePromos; trackBy: trackByFn" (click)="callChangePreview(promo)">
                <span>{{promo.name}}</span>
                <div class="button-group">
                  <button type="button" class="btn note-btn btn-edit" (click)="callEditPromo(promo)">Edit</button>
                  <button type="button" class="btn note-btn btn-success" (click)="markActive(promo)">Activate</button>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>