<div class="promo-history-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <mat-label><h2>Promotion History</h2></mat-label>
            <mat-tab-group>
              <mat-tab label="Active">
                <h6>These promotions are currently LIVE</h6>
                <mat-list>
                  <mat-list-item>Dummy</mat-list-item>
                  <mat-list-item>Dummy</mat-list-item>
                  <mat-list-item>Dummy</mat-list-item>
                  <mat-list-item>Dummy</mat-list-item>
                  <mat-list-item>Dummy</mat-list-item>
                  <mat-list-item>Dummy</mat-list-item>
                </mat-list>
              </mat-tab>
              <mat-tab label="Inactive">
                <h6>These promotions have ended</h6>
                <mat-list>
                  <mat-list-item>Dummy</mat-list-item>
                  <mat-list-item>Dummy</mat-list-item>
                  <mat-list-item>Dummy</mat-list-item>
                  <mat-list-item>Dummy</mat-list-item>
                  <mat-list-item>Dummy</mat-list-item>
                  <mat-list-item>Dummy</mat-list-item>
                </mat-list>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>