#menu-options-block {
}

.item {
  margin: 6px;
}

.option-container, .option-container > div, select {
  display: inline-block;
  width: auto !important;
  height: 60px;
}

.option-container .custom-select {
  width: 192px !important;
}

.option-container {
  margin: 5px;
}

.options-header {
  text-align: center;
  padding: 0.5em 0;
}

.options-header > * {
  display: inline-block;
}

.price-container {
  margin: 15px 0;
}

.option-button {
  background-color: white;
  color: black;
  height: 60px;
  width: 180px;
}

.option-button.selected {
  background-color: var(--go);
  color: white;
}

.packageItem-icon {
  margin: -8px;
  padding-right: 20px;
}

.btn {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
/*

.btn, .custom-select{
  padding: 7px 15px !important;
}

select {
  height: 32px;
  font-size: 14px;
}*/
