<div class="menu-options-block" *ngIf="focusPackage">
    <form #packageOptionsForm="ngForm" name="packageOptionsForm" autocomplete="off">
    <div id="color-key-row" class="row">
            <div class="col-md-3">
                <div class="color-key">
                    <div class="color-line exterior"></div>
                    <span>Exterior</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="color-key">
                    <div class="color-line interior"></div>
                    <span>Interior</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="color-key">
                    <div class="color-box selected"></div>
                    <span>Selected</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="color-key">
                    <div class="color-box required"></div>
                    <span>Required</span>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6">
                <div class="price-container">
                    <div class="form-group">
                        <label for="name">Price</label>
                        <input type="text" class="form-control" id="name" required [(ngModel)]="focusPackage.price" name="focusPackage.price">
                    </div>
                </div>
            </div>
            <div class="col-md-6" *ngIf="focusPackage.type === packageType.DETAIL">
                <div class="price-container">
                    <div class="form-group">
                        <label for="time">Duration (In hours)</label>
                        <input type="text" class="form-control" id="time" required [(ngModel)]="focusPackage.duration" name="focusPackage.estimatedTime">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="input-group option-container" *ngFor="let item of focusPackage.packageItems; let outerIndex = index">
                    <div [ngClass]="{'input-group-prepend': item.subOptions.length > 0}">
                        <button type="button" class="btn option-button"
                                [ngClass]="{'selected': item.isSelected}"
                                (click)="buttonToggle($event, outerIndex, focusPackage.packageItems)"
                                [attr.disabled]="item.isRequired ? 'disabled' : null">
                            {{item.name}}
                        </button>
                        <div class="button-indicator" [ngClass]="{'exterior': item.itemType === itemType.EXTERIOR, 'interior': item.itemType === itemType.INTERIOR}"></div>
                    </div>
                    <select *ngIf="item.subOptions.length !== 0" class="custom-select"
                            [ngClass]="{'selected': item.isSelected}"
                            [attr.required]="item.isRequired ? 'required' : null"
                            [(ngModel)]="item.selectedSubOption" name="item.selectedSubOption">
                        <option *ngFor="let option of item.subOptions;" [value]="item.selectedSubOption" name="item.selectedSubOption">{{option}}</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<ng-template #loading>Loading User Data...</ng-template>