<mat-accordion id="employee-create-accordion">
    <mat-expansion-panel hideToggle (closed)="resetForm()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span><strong>Create New User</strong></span>
            </mat-panel-title>
            <mat-panel-description>
                <div></div>
                <mat-icon>add_circle</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="employeeRoleForm">
                    <div>Select the role of the employee you'd like to add.</div>
                    <mat-form-field>
                        <mat-label for="roleSelect">Role</mat-label>
                        <mat-select id="roleSelect" formControlName="role">
                            <mat-option *ngFor="let role of E_ROLE_KEYS" [value]="role" >{{role}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
        </div>

        <div class="text-center" *ngIf="employeeRoleForm.valid">
            <button [disabled]="codeGenerated" mat-raised-button color="primary" (click)=createEmployee(employeeRoleForm)>Get Code</button>
            <div *ngIf="employeeCode != null">
                <h3>Give this code to the employee you plan to make a {{employeeRoleForm.get('role').value}}</h3>
                <h1 class="text-success" *ngIf="employeeCode != null; else loading">{{employeeCode}}</h1>
                <h3>They can use it to register at this address: <strong>www.hubcap.com/admin</strong></h3>
            </div>
            <button *ngIf="employeeCode != null" mat-raised-button color="accent" (click)="resetForm()">Add Another Employee</button>
        </div>
    </mat-expansion-panel>
</mat-accordion>

<ng-template #loading>
    ...Fetching Employee code
</ng-template>