@import "../../../../_shared/scss/expansion-panels";

// User Create Panel
#user-create-accordion mat-expansion-panel-header {
  min-height: 75px !important;
}

#user-create-accordion mat-expansion-panel-header {
  background-color: var(--go);
}

#user-create-accordion mat-panel-title {
  color: #0d47a1;
  margin-top: 14px;
}

#user-create-accordion mat-panel-description mat-icon {
  color: white;
  font-size: 50px;
  width: 37.5px;
  height: auto;
}