.qr-scanner-block {
  margin: auto;
}

.scanner-wrapper {
  position: relative;
  display: block;
/*  height: 600px;
  width: 600px;*/
  margin: auto;
}

.output-wrapper {
  position: relative;
  bottom: 0;
}

#output-message {
  position: absolute;
  left: 50%;
  bottom: 0;
  text-align: center;
  color: red;
}

.scanner-wrapper .overlay {
  position: absolute;
  display: block;
  width: 25%;
  height:25%;
  border: 3px dashed lightgray;
}

.modal-footer {
  text-align: center;

  button {
    margin: 0 10px;
  }
}
