<div class="promo-preview-block">
  <div class="row">
    <div class="col-md-12">
      <div class="promo">
        <div class="promo-header">
          <div class="row">
            <div class="col-7">
              <div class="header-content">
                <div class="info-block">
                  <div class="promo-title"><span>{{focusPromotion.name}}</span></div>
                  <div class="promo-time">
                    <div id="time-icon" class="header-icon">
                      <img src="./assets/icons/icon-clock-hollow.svg">
                    </div>
                    <span>{{startTime}} -- {{endTime}}</span></div>
                  <div class="promo-date">
                    <div id="frequency-icon" class="header-icon">
                      <img class="one-time" *ngIf="focusPromotion.frequencyType === frequencyType.ONE_TIME" src="./assets/icons/icon-calendar-hollow.svg">
                      <img class="reoccurring" *ngIf="focusPromotion.frequencyType === frequencyType.REOCCURRING" src="./assets/icons/icon-repeat.svg">
                    </div>
                    <span>{{focusPromotion.startDate}} -- {{focusPromotion.endDate}}</span></div>
                </div>
              </div>
            </div>
            <div class="col-5">
              <div class="header-content">
                <div class="promo-price" *ngIf="focusPromotion.discount.discountType === discountType.PERCENT"><span>{{focusPromotion.discount.discountAmount}}% off</span></div>
                <div class="promo-price" *ngIf="focusPromotion.discount.discountType === discountType.DOLLAR"><span>${{focusPromotion.discount.discountAmount}} off</span></div>
                <div class="promo-price" *ngIf="focusPromotion.discount.discountType === discountType.FREE"><span>Free {{focusPromotion.discount.freeFeature}}</span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="promo-body">
          <div class="promo-breakdown">
            <p></p>
            <p>{{focusPromotion.description}}</p>

            <!--TODO Make this a for loop eventually-->
            <div class="row">
              <div class="col-4">
                <div class="package-badge" [ngClass]="{'selected': focusPromotion.discountPackages[0] == true}">
                  <img src="./assets/icons/iconA-wash-bronze.svg">
                  <div class="text-center"><strong>Silver</strong></div>
                </div>
              </div>
              <div class="col-4">
                <div class="package-badge" [ngClass]="{'selected': focusPromotion.discountPackages[1] == true}">
                  <img src="./assets/icons/iconA-wash-silver.svg">
                  <div class="text-center"><strong>Gold</strong></div>
                </div>
              </div>
              <div class="col-4">
                <div class="package-badge" [ngClass]="{'selected': focusPromotion.discountPackages[2] == true}">
                  <img src="./assets/icons/iconA-wash-gold.svg">
                  <div class="text-center"><strong>Platinum</strong></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="terms-conditions">
                  <div class="promo-store-name"><span>Terms and Conditions</span></div>
                  <p>Promotions will be charged upon service. Should the promotion be changed by the service provider
                    prior to service or checkout, the item weill be removed from the...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>