.promo {
  height: 550px !important;
}

.package-badge {
  text-align: center;
  opacity: 0.3;

  img {
    margin: 6px;
    width: 65px;
  }
}

.header-icon {
  display: inline-block;
  margin-right: 5px;

  img {
    width: 20px;
  }
}

.selected {
  opacity: 1.0;
}

.terms-conditions {
  padding-top: 20px;
  margin-bottom: 15px;
}