<div class="promo-preview-block">
  <div class="row">
    <div class="col-md-12">
      <div class="promo">
        <div class="promo-header">
          <div class="row">
            <div class="col-6">
              <div class="header-content">
                <div class="info-block">
                  <div class="promo-title"><span>{{focusPromotion.name}}</span></div>
                  <div class="promo-time"><span>{{focusPromotion.startTime}} -- {{focusPromotion.endTime}}</span></div>
                  <div class="promo-date"><span>{{focusPromotion.startDate}} -- {{focusPromotion.endDate}}</span></div>
                </div>

                <div class="frequency-badge">
                  <img class="one-time" *ngIf="focusPromotion.frequencyType === frequencyType.ONE_TIME" src="../../../../assets/icons/icon-calendar-hollow.svg">
                  <img class="reoccurring" *ngIf="focusPromotion.frequencyType === frequencyType.REOCCURRING" src="../../../../assets/icons/icon-calendar-repeat-hollow.svg">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="header-content">
                <div class="promo-price" *ngIf="focusPromotion.discount.discountType === discountType.PERCENT"><span>Receive {{focusPromotion.discount.discountAmount}}% off</span></div>
                <div class="promo-price" *ngIf="focusPromotion.discount.discountType === discountType.DOLLAR"><span>Receive ${{focusPromotion.discount.discountAmount}} off</span></div>
                <div class="promo-price" *ngIf="focusPromotion.discount.discountType === discountType.FREE"><span>Receive free "{{focusPromotion.discount.freeFeature}}"</span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="promo-body">
          <div class="promo-store-name"><span>Union Sq. Wash</span></div>
          <div class="promo-address"><span>12 West 12th Street, 10029</span></div>
          <div class="promo-breakdown">
            <p></p>
            <p>{{focusPromotion.description}}</p>

            <!--TODO Make this a for loop eventually-->
            <div class="row">
              <div class="col-4">
                <div class="package-badge" [ngClass]="{'selected': focusPromotion.discountPackages[0] == true}">
                  <img src="../../../../assets/icons/iconA-wash-bronze.svg">
                </div>
              </div>
              <div class="col-4">
                <div class="package-badge" [ngClass]="{'selected': focusPromotion.discountPackages[1] == true}">
                  <img src="../../../../assets/icons/iconA-wash-silver.svg">
                </div>
              </div>
              <div class="col-4">
                <div class="package-badge" [ngClass]="{'selected': focusPromotion.discountPackages[2] == true}">
                  <img src="../../../../assets/icons/iconA-wash-gold.svg">
                </div>
              </div>
            </div>
          </div>
          <div class="terms-conditions">
            <p>Promotions will be charged upon service. Should the promotion be changed by the service provider
              prior to service or checkout, the item weill be removed from the...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>