.menu-options-block {

}

.option-button {
  margin: 6px;
}

.option-container {
  display: inline-block;
}

.price-container {
  margin: 15px 0;
}

.update-container {
  margin-top: 25px;
  text-align: center;
}