<div class="exception-block">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-icon *ngIf="thisException.exceptionType === E_HOURS_EXCEPTION_TYPE.MODIFIED">date_range</mat-icon>
          <mat-icon *ngIf="thisException.exceptionType === E_HOURS_EXCEPTION_TYPE.CLOSED">event_busy</mat-icon>
          <mat-panel-title>
            <span><strong>{{thisException.name}}</strong></span>
          </mat-panel-title>
          <mat-panel-description><div></div></mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input matInput placeholder="Exception Name" [(ngModel)]="thisException.name" type="text">
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field>
              <input matInput [matDatepicker]="exceptionDate" placeholder="Choose a date" [(ngModel)]="thisException.date">
              <mat-datepicker-toggle matSuffix [for]="exceptionDate"></mat-datepicker-toggle>
              <mat-datepicker #exceptionDate startView="year" [startAt]="exceptionDate" ></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <mat-radio-group class="exception-radio-group" [(ngModel)]="thisException.exceptionType">
              <mat-radio-button value="MODIFIED" class="exception-radio-button" type="radio">Limited Hours</mat-radio-button>
              <mat-radio-button value="CLOSED" class="exception-radio-button" type="radio">Closed</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div class="row" *ngIf="thisException.exceptionType === E_HOURS_EXCEPTION_TYPE.MODIFIED">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Open</mat-label>
                <input id="openTime" type="time" matInput [matDatepicker]="openTime" formControlName="openTime" [(ngModel)]="thisException.closeTime">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="openTime"></mat-datepicker-toggle>
                <mat-datepicker #openTime></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
                <mat-label>Close</mat-label>
                <input id="closeTime" type="time" matInput [matDatepicker]="closeTime" formControlName="closeTime" [(ngModel)]="thisException.closeTime">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="closeTime"></mat-datepicker-toggle>
                <mat-datepicker #closeTime></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

      <mat-action-row class="store-actions">
        <button mat-raised-button color="primary" (click)="storeService.updateException(thisException, exceptions.indexOf(thisException))">Update Exception</button>
        <button mat-raised-button color="warn" (click)="storeService.deleteException(exceptions.indexOf(thisException))">Delete Exception</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
