<div class="store-form-block">
  <div class="row">
    <div class="col-md-12">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span><strong>{{thisStore.name}}</strong></span>
            </mat-panel-title>
            <mat-panel-description><div></div><mat-icon>store</mat-icon></mat-panel-description>
          </mat-expansion-panel-header>

          <div class="row">
            <div class="col-md-12">
              <div class="store-form-header">
                <h4>Store Info</h4>
              </div>
              <mat-form-field>
                <input matInput placeholder="Store Name" [(ngModel)]="thisStore.name">
              </mat-form-field>
            </div>
            <div class="col-md-8">
              <mat-form-field>
                <input matInput placeholder="Address" [(ngModel)]="thisStore.address">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="Phone Number" [(ngModel)]="thisStore.phoneNumber">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Store Email" [(ngModel)]="thisStore.email">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Website" [(ngModel)]="thisStore.website">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="City" [(ngModel)]="thisStore.city">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="State" [(ngModel)]="thisStore.state">
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="Zip" [(ngModel)]="thisStore.zip">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <mat-label ></mat-label>
                <mat-select multiple [(ngModel)]="thisStore.vehicleTypes">
                  <mat-option *ngFor="let vehicle of vehicleKeys" [value]="vehicle">{{vehicle}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="store-form-header">
                <h4>Store Hours</h4>
              </div>
              <div class="hours-block">
                <div class="list-group-item" *ngFor="let hours of thisStore.storeHours;">
                  <div class="row">
                    <div class="col-md-4 day-checkbox-container">
                      <mat-checkbox [(ngModel)]="hours.isOpen">{{hours.day}}</mat-checkbox>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label for="openTime">Open</mat-label>
                        <input matInput id="openTime" type="time" atp-time-picker [(ngModel)]="hours.openTime">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label for="closeTime">Close</mat-label>
                        <input matInput id="closeTime" type="time" atp-time-picker [(ngModel)]="hours.closeTime">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-12">
              <div class="store-form-header">
                <h4>Exceptions</h4>
              </div>
              <app-exceptions-manager [exceptions]="thisStore.exceptions"></app-exceptions-manager>
            </div>
          </div>

          <mat-action-row class="store-actions">
            <button mat-raised-button color="primary" (click)="updateStore(thisStore)">Update Store</button>
            <button mat-raised-button color="warn" (click)="deleteStore(thisStore)">Delete Store</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>