<div class="store-form-block" *ngIf="(storeService.store | async) as focusStore">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="store-form-header">
                        <h4>Store Info</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <mat-form-field>
                        <input matInput placeholder="Store Name" [(ngModel)]="focusStore.name">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label for="carwash-type">Carwash Type</mat-label>
                        <mat-select id="carwash-type" [(ngModel)]="focusStore.type">
                            <mat-option *ngFor="let type of E_CARWASH_TYPE_KEYS"
                                        [value]="type">{{type}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <mat-form-field>
                        <input matInput placeholder="Street Address" [(ngModel)]="focusStore.address.street">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <input matInput placeholder="Phone Number" [(ngModel)]="focusStore.phoneNumber">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="Store Email" [(ngModel)]="focusStore.email">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput placeholder="Website" [(ngModel)]="focusStore.website">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label for="state">State</mat-label>
                        <mat-select id="state" [(ngModel)]="focusStore.address.state">
                            <mat-option *ngFor="let state of E_STATE_KEYS"
                                        [value]="state">{{state}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <input matInput placeholder="City" [(ngModel)]="focusStore.address.city">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <input matInput placeholder="Zip" [(ngModel)]="focusStore.address.zipcode">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="store-form-header">
                        <h4>Store Hours</h4>
                    </div>
                    <div class="hours-block">
                        <div class="list-group-item" *ngFor="let hours of focusStore?.hoursOfOperation?.storeHours; let i = index;">
                            <div class="row">
                                <div class="col-md-4 day-checkbox-container">
                                    <mat-checkbox [(ngModel)]="hours.isOpen" [name]="i.toString()">{{hours.day}}</mat-checkbox>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label for="openTime">Open</mat-label>
                                        <input matInput id="openTime" type="time" atp-time-picker
                                               [(ngModel)]="hours.openTime">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label for="closeTime">Close</mat-label>
                                        <input matInput id="closeTime" type="time" atp-time-picker
                                               [(ngModel)]="hours.closeTime">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <div class="store-form-header">
                        <h4>Exceptions</h4>
                    </div>
                    <app-exceptions-manager></app-exceptions-manager>
                </div>
            </div>

            <mat-action-row class="store-actions">
                <button mat-raised-button color="primary" (click)="updateStore(focusStore)">Update Store</button>
            </mat-action-row>
        </div>
    </div>
</div>