<hr>

<div class="promo-form-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <mat-horizontal-stepper linear>
          <!--Step 1-->
          <mat-step label="Name">
            <form [formGroup]="nameFormGroup">
              <div class="form-group">
                <input matInput placeholder="What is the name/title of this promo?" class="form-control" type="text" formControlName="nameCtrl" required>
              </div>
              <button mat-button matStepperNext>Next</button>
            </form>
          </mat-step>
          <!--Step 2-->
          <mat-step label="Frequency">
            <form [formGroup]="frequencyFormGroup">
              <div class="form-group">
                <mat-radio-group class="promo-radio-group">
                  <mat-radio-button class="promo-radio-button">One-Time</mat-radio-button>
                  <mat-radio-button class="promo-radio-button">Reoccurring</mat-radio-button>
                  <mat-radio-button class="promo-radio-button">Indefinite</mat-radio-button>
                </mat-radio-group>
              </div>
              <button mat-button matStepperPrevious="">Back</button>
              <button mat-button matStepperNext>Next</button>
            </form>
          </mat-step>
          <!--Step 3-->
          <mat-step label="Date">
            <form [formGroup]="dateFormGroup">
              <p>This is the DATES when the promotion will be available</p>
              <div class="form-group">
                <input matInput [matDatepicker]="datePickerFrom" placeholder="Choose a start date" formControlName="datePickerFrom" required>
                <mat-datepicker-toggle matSuffix [for]="datePickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #datePickerFrom startView="year" [startAt]="startDate" ></mat-datepicker>
              </div>

              <div class="form-group">
                <input matInput [matDatepicker]="datePickerTo" placeholder="Choose an end date" formControlName="datePickerTo" required>
                <mat-datepicker-toggle matSuffix [for]="datePickerTo"></mat-datepicker-toggle>
                <mat-datepicker #datePickerTo startView="year" [startAt]="startDate" ></mat-datepicker>
              </div>

              <button mat-button matStepperPrevious="">Back</button>
              <button mat-button matStepperNext>Next</button>
            </form>
          </mat-step>

          <mat-step label="Time">
            <form [formGroup]="timeFormGroup">
              <p>Choose the TIMES when this promotion will be available</p>

              <div class="form-group">
                <input id="startTime" type="time" atp-time-picker value="12:00">
                <label for="startTime">Choose a start time</label>
              </div>

              <div class="form-group">
                <input id="endTime" type="time" atp-time-picker value="12:00">
                <label for="endTime">Choose an end time</label>
              </div>

              <button mat-button matStepperPrevious="">Back</button>
              <button mat-button matStepperNext>Next</button>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</div>