.option-button {
  margin: 6px;
}

.option-container {
  display: inline-block;
}

.promo-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.promo-radio-button {
  margin: 5px;
}

.promo-selected-value {
  margin: 15px 0;
}

.promo-checkbox {
  margin: 0 10px;
}

#form-row {
  transition: 1s all;
}

.form-button-block {
  display: inline-block;
  padding-right: 12px;
  padding-bottom: 15px;

  button {
    width: auto !important;
  }
}

.form-button mat-icon {
  font-size: 50px !important;
}

.form-button strong {
  padding-left: 30px;
}

mat-vertical-stepper {
  border-radius: 4px;
  background-color: var(--cloud) !important;
}

.preview-chain {
  img {
    display: inline-block;
    height: 45px;
    width: 45px;
    border: 2px solid black;
    border-radius: 50%;
  }

  div {
    font-size: 1.2em;
    font-weight: 400;
    height: 75px;
  }
}