.option-button {
  margin: 6px;
}

.option-container {
  display: inline-block;
}

.promo-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.promo-radio-button {
  margin: 5px;
}

.promo-selected-value {
  margin: 15px 0;
}

.promo-checkbox {
  margin: 0 10px;
}