<div class="users-block main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title text-center">
              <h4>Employees and Roles</h4>
            </div>
          </div>
          <div class="card-body">
            <div id="user-form-container">
              <app-employee-form></app-employee-form>
            </div>

            <hr>

            <div>
              <div id="users-container">
                <app-employee *ngFor="let employee of (this.employeeService.employeeArraySubject | async)" [thisEmployee] = employee></app-employee>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>