<div class="promo-manager-block main-content">
  <div class="container" *ngIf="promotions">
    <div id="top-row" class="row">
      <div class="col-md-7">
        <app-promo-preview #promoPreview [focusPromotion]="promotionService.focusPromotion"></app-promo-preview>
      </div>
      <div class="col-md-5">
        <app-promo-history [historyPromotions]="promotions" [promoForm]="promoForm" [promoPreview]="promoPreview"></app-promo-history>
      </div>
    </div>

    <div id="bottom-row" class="row">
      <div class="col-md-12">
        <app-promo-form #promoForm [focusPromotion]="promotionService.focusPromotion" [promotions]="promotions"></app-promo-form>
      </div>
    </div>
  </div>
</div>