<div class="promo-manager-block main-content">
  <div class="container">
    <div id="top-row" class="row">
      <div class="col-md-7">
        <app-promo-preview [focusPromotion]="focusPromotion"></app-promo-preview>
      </div>
      <div class="col-md-5">
        <app-promo-history [historyPromotions]="promotions" ></app-promo-history>
      </div>
    </div>

    <div id="bottom-row" class="row">
      <div class="col-md-12">
        <app-promo-form [focusPromotion]="focusPromotion"></app-promo-form>
      </div>
    </div>
  </div>
</div>