<div id="overview-block" *ngIf="(promotionService.promotion | async) as focusPromotion">
    <div *ngIf="!promotionService.creatingNewPromotion" id="create-promo-wrapper" class="new-promo-wrapper">
        <button mat-button (click)="promotionService.initNewPromotion();"><h5>Create New Promotion</h5></button>
    </div>

    <div *ngIf="promotionService.creatingNewPromotion" id="cancel-promo-wrapper" class="new-promo-wrapper">
        <button mat-button (click)="promotionService.cancelNewPromotion()"><h5>Cancel Promotion Creation</h5></button>
    </div>

    <div id="overview-description">
        <h3 *ngIf="promotionService.validFormSteps.get(E_PROMO_FORM_STEPS.NAME) == true"><strong>{{focusPromotion.name}}</strong></h3>
        <p *ngIf="promotionService.validFormSteps.get(E_PROMO_FORM_STEPS.DESCRIPTION) == true">{{focusPromotion.description}}</p>
        <span *ngIf="promotionService.validFormSteps.get(E_PROMO_FORM_STEPS.SERVICE_TYPE) == true">Applicable for {{focusPromotion.serviceType}} services.</span>
    </div>


    <div id="overview-date-container" *ngIf="promotionService.validFormSteps.get(E_PROMO_FORM_STEPS.SCHEDULING) == true">
        <hr>

        <div class="row">
            <div class="col-md-2 m-auto">
                <div id="date-icon" class="header-icon">
                    <img src="./assets/icons/icon-calendar-hollow.svg">
                </div>
            </div>
            <div class="col-md-5">
                <div class="promo-date">
                    <div *ngIf="!focusPromotion.isReoccurring">
                        <span>{{focusPromotion.startDate.toLocaleDateString('en-us', C_CONSTANTS.SHORT_WEEKDAY)}}</span>,&nbsp;
                        <span>{{focusPromotion.startDate.toLocaleDateString('en-us', C_CONSTANTS.SHORT_MONTH)}}</span>&nbsp;
                        <span>{{focusPromotion.startDate.toLocaleDateString('en-us', C_CONSTANTS.NUM_DAY)}}</span>&nbsp;
                        <span>{{focusPromotion.startDate.toLocaleDateString('en-us', C_CONSTANTS.NUM_YEAR)}}</span>
                    </div>
                    <div *ngIf="focusPromotion.isReoccurring">
                        <span *ngIf="focusPromotion.frequency.type === E_FREQUENCY.WEEKLY">Every</span>
                        <span *ngIf="focusPromotion.frequency.type === E_FREQUENCY.MONTHLY">Every Month</span>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="promo-date">
                    <div *ngIf="!focusPromotion.isReoccurring">
                        <span>{{focusPromotion.endDate.toLocaleDateString('en-us', C_CONSTANTS.SHORT_WEEKDAY)}}</span>,&nbsp;
                        <span>{{focusPromotion.endDate.toLocaleDateString('en-us', C_CONSTANTS.SHORT_MONTH)}}</span>&nbsp;
                        <span>{{focusPromotion.endDate.toLocaleDateString('en-us', C_CONSTANTS.NUM_DAY)}}</span>&nbsp;
                        <span>{{focusPromotion.endDate.toLocaleDateString('en-us', C_CONSTANTS.NUM_YEAR)}}</span>
                    </div>
                    <div *ngIf="focusPromotion.isReoccurring">
                        <span *ngIf="focusPromotion.frequency.type === E_FREQUENCY.WEEKLY">{{focusPromotion.frequency.value}}</span>
                        <span *ngIf="focusPromotion.frequency.type === E_FREQUENCY.MONTHLY">On {{focusPromotion.frequency.value}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="overview-time-container" *ngIf="promotionService.validFormSteps.get(E_PROMO_FORM_STEPS.PROMOTION_TIME) == true">
        <div class="row">
            <div class="col-sm-2 m-auto">
                <div id="time-icon" class="header-icon">
                    <img src="./assets/icons/icon-clock-hollow.svg">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="focusPromotion-time">
                    <span>{{promotionService.formatTime(focusPromotion.startTime)}}</span>
                </div>
            </div>
            <div class="col-2">
                <span>to</span>
            </div>
            <div class="col-sm-4">
                <div class="focusPromotion-time">
                    <span>{{promotionService.formatTime(focusPromotion.endTime)}}</span>
                </div>
            </div>
        </div>
    </div>


    <div id="overview-discount-container" class="overview-container" *ngIf="promotionService.validFormSteps.get(E_PROMO_FORM_STEPS.DISCOUNT) == true">
        <hr>

        <p *ngIf="focusPromotion.discount.discountType !== E_DISCOUNT_TYPE.FREE">The customer will receive a discount of:</p>
        <p *ngIf="focusPromotion.discount.discountType === E_DISCOUNT_TYPE.FREE">The customer will receive the following FREE feature(s):</p>

        <div class="promo-price" *ngIf="focusPromotion.discount.discountType === E_DISCOUNT_TYPE.PERCENT">
            <h3>{{focusPromotion.discount.discountAmount}}% off</h3>
        </div>
        <div class="promo-price" *ngIf="focusPromotion.discount.discountType === E_DISCOUNT_TYPE.DOLLAR">
            <h3>${{focusPromotion.discount.discountAmount}} off</h3>
        </div>
        <div class="promo-price" *ngIf="focusPromotion.discount.discountType === E_DISCOUNT_TYPE.FREE">
            <ul>
                <li *ngFor="let feature of focusPromotion.discount.discountFeatures">
                    <h4>{{feature}}</h4>
                </li>
            </ul>
        </div>
    </div>

    <div id="overview-package-container" class="overview-container" *ngIf="promotionService.validFormSteps.get(E_PROMO_FORM_STEPS.DISCOUNTED_PACKAGES) == true">
        <div class="row">
            <div class="col">
                <p>any of the select packages below</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4" *ngFor="let _package of focusPromotion.discountPackages">
                <div class="package-badge">
                    <img src="./assets/icons/icon-package-round.svg">
                    <div><h4>{{_package}}</h4></div>
                </div>
            </div>
        </div>
    </div>
</div>
