#overview-block {
    width: 100%;
    height: 100%;

    > div {
        margin: 0 1em;
    }
}

.new-promo-wrapper {
    text-align: center;
    margin: 0 -15px !important;
    border-top-left-radius: 1em;
    background-color: var(--tire);
    color: white;

    button {
        height: 100%;
        width: 100%;
        padding: 18px 8px !important;

        h5 {
            margin-bottom: 0 !important;
        }
    }
}

#create-promo-wrapper {
    background-color: var(--go);
}

#cancel-promo-wrapper {
    background-color: var(--stop);
}

#overview-description {
    padding-top: 1em;
    padding-bottom: 0.5em;

    h3 {
        margin-top: 0 !important;
    }
}

#overview-time-container, #overview-date-container {
    padding: 0.5em 0;
}

.overview-container {
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

#overview-discount-container {
    padding: 0.5em 0;
    max-height: 200px;

    ul {
        text-align: left !important;
    }
}

.overview-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.overview-container::-webkit-scrollbar {
    width: 5px;
    background-color: #ccc;
}

.overview-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border: 1px solid #ccc;
}

.overview-package-container {
    padding: 0.5em 0;
}

.package-badge {
    text-align: center;
    opacity: 0.4;

    img {
        width: 100%;
        padding: 0.5em;
    }
}

.selected {
    opacity: 1 !important;
}