<div id="package-manager-block" class="main-content">
    <div class="container" *ngIf="packages">
        <div id="nav-section">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-sm-3">
                    <button mat-raised-button id="wash-button"
                            (click)="changePackageType(packageType.WASH)"
                            [ngClass]="{'wash-selected': selectedPackageType === packageType.WASH, '': selectedPackageType !== packageType.WASH}">Wash</button>
                </div>
                <div  class="col-sm-3">
                    <button mat-raised-button id="detail-button"
                            (click)="changePackageType(packageType.DETAIL)"
                            [ngClass]="{'detail-selected': selectedPackageType === packageType.DETAIL, '': selectedPackageType !== packageType.DETAIL}">Detail</button>
                </div>
            </div>
        </div>

        <div id="menu-section">
            <div class="row">
                <div id="preview-col" class="col-md-3" [ngClass]="{'wash-selected': selectedPackageType === packageType.WASH, 'detail-selected': selectedPackageType === packageType.DETAIL}">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-fill">
                                <li class="nav-item"
                                    *ngFor="let _package of packages"
                                    (click)="setFocusPackage(_package)">
                                    <button mat-button [ngClass]="{'active': _package === focusPackage}">{{_package.name}}</button>
                                </li>
                            </ul>

                            <hr>

                        </div>
                    </div>

                    <app-package [focusPackage] = "focusPackage" [class.selected]="focusPackage == focusPackage"></app-package>
                </div>

                <div id="package-options-col" class="col-md-9">
                    <app-package-options [focusPackage]="focusPackage"></app-package-options>
                </div>
            </div>
        </div>
    </div>
</div>