<div class="store-manager-block main-content">
  <div class="container">
    <div class="store-form-container">
      <div class="card">
        <div class="card-header">
          <div class="card-body">
            <div id="story-form-container">
              <div class="row">
                <div class="col-md-12">
                  <app-store-form  *ngIf="!(storeService.store | async)"></app-store-form>
                </div>
              </div>
            </div>

            <div>
              <div class="store-list-container" *ngIf="storeService.store | async">
                <div class="row">
                  <div class="col-md-12">
                    <app-store></app-store>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>