<div class="store-manager-block main-content" *ngIf="storeService.serviceReady else loading">
  <div class="container">
    <div class="store-form-container">
      <div class="card">
        <div class="card-header">
          <div class="card-body">
            <div id="story-form-container">
              <div class="row">
                <div class="col-md-12">
                  <app-store-form  *ngIf="(storeService.store | async).id == null || (storeService.store | async).id == undefined"></app-store-form>
                </div>
              </div>
            </div>

            <div>
              <div class="store-list-container" *ngIf="(storeService.store | async).id != null || (storeService.store | async).id != undefined">
                <div class="row">
                  <div class="col-md-12">
                    <app-store></app-store>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading><h1>Loading Store Data..</h1></ng-template>