.menu-block {
  position: relative;
  text-align: center;

}

.menu-block .card {
  height: 400px;
}

.menu-price {
  margin: 15px 0;
}

.menu-list li {
  border-top: solid 1px lightgray;
}