<div class="user-block">
    <div class="row">
        <div class="col-md-12">
            <mat-accordion>
                <mat-expansion-panel hideToggle [ngClass]="{'not-registered': !thisEmployee.isRegistered, 'is-active': thisEmployee.isActive, 'not-active': !thisEmployee.isActive}">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{thisEmployee.firstName}}
                        </mat-panel-title>
                        <mat-panel-description>
                            <div>{{thisEmployee.role}}</div>
                            <mat-icon *ngIf="thisEmployee.role === E_ROLE.FULL_ADMIN">supervisor_account</mat-icon>
                            <mat-icon *ngIf="thisEmployee.role === E_ROLE.LOCAL_ADMIN">account_circle</mat-icon>
                            <mat-icon *ngIf="thisEmployee.role === E_ROLE.FIELD_WORKER">build</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="row register-warning" *ngIf="!thisEmployee.isRegistered">
                        <div class="col-12">
                            <h5><strong>WAITING ON USER TO REGISTER</strong></h5>
                        </div>
                    </div>

                    <form [formGroup]="employeeForm" class="user-fields">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput placeholder="First name" formControlName="firstName">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput placeholder="Last name" formControlName="lastName">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput placeholder="Email" formControlName="email">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput placeholder="Phone number" formControlName="phoneNumber">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-label for="roleSelect">Role</mat-label>
                                    <mat-select id="roleSelect" formControlName="role">
                                        <mat-option *ngFor="let role of E_ROLE_KEYS" [value]="role" >{{role}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <!--        <div class="col-md-6">
                                      <mat-form-field>
                                        <mat-label for="storeSelect">Stores</mat-label>
                                        <mat-select id="storeSelect" multiple formControlName="storeIds">
                                          <mat-option *ngFor="let store of stores" [value]="store.id">{{store.name}}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                    </div>-->
                        </div>
                    </form>
                    <mat-action-row class="user-actions">
                        <div class="active-status"><mat-checkbox [(ngModel)]="thisEmployee.isActive">Active</mat-checkbox></div>
                        <button mat-raised-button color="primary" (click)="updateEmployee(employeeForm, thisEmployee.id)">Update User</button>
                        <button mat-raised-button color="warn" (click)="deleteEmployee(thisEmployee.id)">Delete User</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>
