<div id="promo-new-block">
    <div class="row">
        <mat-accordion id="promo-create-accordion">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span><strong>Create New Promo</strong></span>
                    </mat-panel-title>
                    <mat-panel-description><div></div><mat-icon>add_circle</mat-icon></mat-panel-description>
                </mat-expansion-panel-header>

                <div class="store-fields">
                    <div class="row">
                        <div class="col-12">
                            <p>{{focusPromotion.description}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <div id="date-icon" class="header-icon">
                                <img src="./assets/icons/icon-calendar.svg">
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="focusPromotion-date">
                                <span>{{focusPromotion.startDate}}</span>
                            </div>
                        </div>

                        <div class="col-5">
                            <div class="focusPromotion-date">
                                <span>{{focusPromotion.endDate}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <div id="time-icon" class="header-icon">
                                <img src="./assets/icons/icon-clock-hollow.svg">
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="focusPromotion-time">
                                <span>{{focusPromotion.startTime}}</span>
                            </div>
                        </div>

                        <div class="col-5">
                            <div class="focusPromotion-time">
                                <span>{{focusPromotion.endTime}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="header-content">
                                <div class="focusPromotion-price" *ngIf="focusPromotion.discount.discountType === discountType.PERCENT"><span>{{focusPromotion.discount.discountAmount}}% off</span></div>
                                <div class="focusPromotion-price" *ngIf="focusPromotion.discount.discountType === discountType.DOLLAR"><span>${{focusPromotion.discount.discountAmount}} off</span></div>
                                <div class="focusPromotion-price" *ngIf="focusPromotion.discount.discountType === discountType.FREE"><span>Free {{focusPromotion.discount.freeFeatures}}</span></div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="focusPromotion.packageType === packageType.DETAIL" class="row">
                        <div class="col-4">
                            <div class="package-badge" [ngClass]="{'selected': focusPromotion.discountPackages.includes(package.INTERIOR)}">
                                <img src="./assets/icons/icon-detail-interior.svg">
                                <div class="text-center"><strong>Interior</strong></div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="package-badge" [ngClass]="{'selected': focusPromotion.discountPackages.includes(package.EXTERIOR)}">
                                <img src="./assets/icons/icon-detail-exterior.svg">
                                <div class="text-center"><strong>Exterior</strong></div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="package-badge" [ngClass]="{'selected': focusPromotion.discountPackages.includes(package.COMPLETE)}">
                                <img src="./assets/icons/icon-detail-both.svg">
                                <div class="text-center"><strong>Complete</strong></div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="focusPromotion.packageType === packageType.WASH" class="row">
                        <div class="col-4">
                            <div class="package-badge" [ngClass]="{'selected': focusPromotion.discountPackages.includes(package.SILVER)}">
                                <img src="./assets/icons/iconA-wash-bronze.svg">
                                <div class="text-center"><strong>Silver</strong></div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="package-badge" [ngClass]="{'selected': focusPromotion.discountPackages.includes(package.GOLD)}">
                                <img src="./assets/icons/iconA-wash-silver.svg">
                                <div class="text-center"><strong>Gold</strong></div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="package-badge" [ngClass]="{'selected': focusPromotion.discountPackages.includes(package.PLATINUM)}">
                                <img src="./assets/icons/iconA-wash-gold.svg">
                                <div class="text-center"><strong>Platinum</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>