<div id="promo-block">
    <mat-accordion id="promo-accordion">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span><strong>{{thisPromotion.name}}</strong></span>
                </mat-panel-title>
                <mat-panel-description>
                    <div></div>
                    <div *ngIf="thisPromotion.frequencyType === frequencyType.ONE_TIME">
                        <span>One Time</span>
                        <img class="one-time" src="./assets/icons/icon-calendar-hollow.svg">
                    </div>
                    <div *ngIf="thisPromotion.frequencyType === frequencyType.REOCCURRING">
                        <span>Reoccurring</span>
                        <img class="reoccurring" src="./assets/icons/icon-repeat.svg">
                    </div>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row description-row">
                <div class="col-12">
                    <p>{{thisPromotion.description}}</p>
                </div>
            </div>

            <div class="row date-row">
                <div class="col-2">
                    <div id="date-icon" class="header-icon">
                        <img src="./assets/icons/icon-calendar-hollow.svg">
                    </div>
                </div>
                <div class="col-5">
                    <div class="promo-date">
                        <span>{{thisPromotion.startDate}}</span>
                    </div>
                </div>

                <div class="col-5">
                    <div class="promo-date">
                        <span>{{thisPromotion.endDate}}</span>
                    </div>
                </div>
            </div>

            <div class="row time-row">
                <div class="col-2">
                    <div id="time-icon" class="header-icon">
                        <img src="./assets/icons/icon-clock-hollow.svg">
                    </div>
                </div>
                <div class="col-5">
                    <div class="promo-time">
                        <span>{{thisPromotion.startTime}}</span>
                    </div>
                </div>

                <div class="col-5">
                    <div class="promo-time">
                        <span>{{thisPromotion.endTime}}</span>
                    </div>
                </div>
            </div>

            <div class="row price-row">
                <div class="col-12">
                    <div class="header-content">
                        <div class="promo-price" *ngIf="thisPromotion.discount.discountType === discountType.PERCENT">
                            <span>{{thisPromotion.discount.discountAmount}}% off</span></div>
                        <div class="promo-price" *ngIf="thisPromotion.discount.discountType === discountType.DOLLAR">
                            <span>${{thisPromotion.discount.discountAmount}} off</span></div>
                        <div class="promo-price"
                             *ngIf="thisPromotion.discount.discountType === discountType.FREE"><span>
                                    Free</span>
                            <div *ngFor="let feature of thisPromotion.discount.discountFeatures">{{feature}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="thisPromotion.serviceType === packageType.DETAIL" class="row">
                <div class="col-4">
                    <div class="package-badge"
                         [ngClass]="{'selected': thisPromotion.discountPackages.includes(package.INTERIOR)}">
                        <img src="./assets/icons/icon-detail-interior.svg">
                        <div class="text-center"><strong>Interior</strong></div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="package-badge"
                         [ngClass]="{'selected': thisPromotion.discountPackages.includes(package.EXTERIOR)}">
                        <img src="./assets/icons/icon-detail-exterior.svg">
                        <div class="text-center"><strong>Exterior</strong></div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="package-badge"
                         [ngClass]="{'selected': thisPromotion.discountPackages.includes(package.COMPLETE)}">
                        <img src="./assets/icons/icon-detail-both.svg">
                        <div class="text-center"><strong>Complete</strong></div>
                    </div>
                </div>
            </div>

            <div *ngIf="thisPromotion.serviceType === packageType.WASH" class="row">
                <div class="col-4">
                    <div class="package-badge"
                         [ngClass]="{'selected': thisPromotion.discountPackages.includes(package.SILVER)}">
                        <img src="./assets/icons/iconA-wash-bronze.svg">
                        <div class="text-center"><strong>Silver</strong></div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="package-badge"
                         [ngClass]="{'selected': thisPromotion.discountPackages.includes(package.GOLD)}">
                        <img src="./assets/icons/iconA-wash-silver.svg">
                        <div class="text-center"><strong>Gold</strong></div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="package-badge"
                         [ngClass]="{'selected': thisPromotion.discountPackages.includes(package.PLATINUM)}">
                        <img src="./assets/icons/iconA-wash-gold.svg">
                        <div class="text-center"><strong>Platinum</strong></div>
                    </div>
                </div>
            </div>

            <mat-action-row>
                <button type="button" class="btn note-btn btn-edit" (click)="editPromo(thisPromotion.id)">
                    Edit
                </button>
                <button type="button" class="btn note-btn btn-success" (click)="toggleActive(thisPromotion.id)">
                    Deactivate
                </button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>