<div class="promo-block">
    <mat-accordion id="promo-accordion">
        <mat-expansion-panel hideToggle [expanded]="step===promoIndex" (opened)="step=promoIndex">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span><strong>{{thisPromotion.name}}</strong></span>
                </mat-panel-title>
                <mat-panel-description>
                    <div></div>
                    <div *ngIf="thisPromotion.frequencyType === E_FREQUENCY_TYPE.ONE_TIME">
                        <span>One Time</span>
                        <img class="one-time" src="./assets/icons/icon-calendar-hollow.svg">
                    </div>
                    <div *ngIf="thisPromotion.frequencyType === E_FREQUENCY_TYPE.REOCCURRING">
                        <span>Reoccurring</span>
                        <img class="reoccurring" src="./assets/icons/icon-repeat.svg">
                    </div>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row description-row">
                <div class="col-12">
                    <p>{{thisPromotion.description}}</p>
                </div>
            </div>

            <div class="row date-time-row">
                <div class="col-2">
                    <div id="date-icon" class="header-icon">
                        <img src="./assets/icons/icon-calendar-hollow.svg">
                    </div>
                </div>
                <div class="col-5">
                    <div class="promo-date">
                        <span>{{thisPromotion.startDate.toLocaleDateString('en-us', C_CONSTANTS.SHORT_WEEKDAY)}}</span>,&nbsp;
                        <span>{{thisPromotion.startDate.toLocaleDateString('en-us', C_CONSTANTS.SHORT_MONTH)}}</span>&nbsp;
                        <span>{{thisPromotion.startDate.toLocaleDateString('en-us', C_CONSTANTS.NUM_YEAR)}}</span>
                    </div>
                </div>

                <div class="col-5">
                    <div class="promo-date">
                        <span>{{thisPromotion.endDate.toLocaleDateString('en-us', C_CONSTANTS.SHORT_WEEKDAY)}}</span>,&nbsp;
                        <span>{{thisPromotion.endDate.toLocaleDateString('en-us', C_CONSTANTS.SHORT_MONTH)}}</span>&nbsp;
                        <span>{{thisPromotion.endDate.toLocaleDateString('en-us', C_CONSTANTS.NUM_YEAR)}}</span>
                    </div>
                </div>
            </div>

            <div class="row date-time-row">
                <div class="col-2">
                    <div id="time-icon" class="header-icon">
                        <img src="./assets/icons/icon-clock-hollow.svg">
                    </div>
                </div>
                <div class="col-5">
                    <div class="promo-time">
                        <span>{{thisPromotion.startTime}}</span>
                    </div>
                </div>

                <div class="col-5">
                    <div class="promo-time">
                        <span>{{thisPromotion.endTime}}</span>
                    </div>
                </div>
            </div>

            <div class="row price-row">
                <div class="col-12">
                    <div class="header-content">
                        <div class="discount-type" *ngIf="thisPromotion.discount.discountType === E_DISCOUNT_TYPE.PERCENT">
                            <h3>{{thisPromotion.discount.discountAmount}}% off</h3></div>
                        <div class="discount-type" *ngIf="thisPromotion.discount.discountType === E_DISCOUNT_TYPE.DOLLAR">
                            <h3>${{thisPromotion.discount.discountAmount}} off</h3></div>
                        <div class="discount-type"
                             *ngIf="thisPromotion.discount.discountType === E_DISCOUNT_TYPE.FREE"><span>
                                    Free</span>
                            <h4 *ngFor="let feature of thisPromotion.discount.discountFeatures">{{feature}}</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div *ngFor="let promo of thisPromotion.discountPackages" class="col-4">
                    <div class="package-badge">
                        <img src="./assets/icons/icon-package-round.svg">
                        <div><strong>{{promo}}</strong></div>
                    </div>
                </div>
            </div>

            <mat-action-row>
                <button type="button" class="btn note-btn btn-edit" (click)="editPromo(thisPromotion.id)">
                    Edit
                </button>
                <button type="button" class="btn note-btn btn-success" (click)="toggleActive(thisPromotion.id)">
                    Deactivate
                </button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>