@import '../../../../_shared/scss/expansion-panels';
@import '../../shared/scss/promos';

.promo-block {
  width: 400px;
}

.package-badge {
  padding: 1em;
  text-align: center;

  img {
    padding: 0.5em 0;
    width: 50%;
  }
}

.discount-type {
  margin: 1em;
}

.date-time-row {
  padding: 0.5em 0;
}

mat-panel-title {
  color: var(--tire);
}

mat-panel-title {
  flex-basis: initial !important;
}

mat-panel-description span {
  margin-right: 1em;
}

mat-expansion-panel-header, mat-expansion-panel-header:focus {
  background-color: var(--promo-yellow) !important
}

.mat-expansion-panel-content {
  background-color: red !important;
}