<div class="promo-form-block">
    <div *ngIf="(promotionService.promotion | async) as focusPromotion" id="form-row">
        <form [formGroup]="promotionForm" novalidate>
            <mat-vertical-stepper id="promo-form-stepper" class="custom-class" linear="false">
                <mat-step id="name" label="Name">
                    <div formGroupName="nameFormGroup">
                        <p>What is the name/title of this promo?</p>

                        <mat-form-field>
                            <input matInput placeholder="Ex: Early Bird Special" type="text" formControlName="name"
                                   required [value]="focusPromotion.name" [(ngModel)]="focusPromotion.name">
                        </mat-form-field>
                        <button mat-button matStepperNext type="submit" (click)="promotionService.validFormSteps.set(E_PROMO_FORM_STEPS.NAME, true)">Next</button>
                    </div>
                </mat-step>

                <!--SERVICE TYPE-->

                <mat-step id="serviceType" label="Service Type">
                    <div formGroupName="serviceTypeFormGroup">
                        <p>What type of service is this for?</p>

                        <mat-form-field>
                            <mat-label for="serviceTypeSelect">Service Type</mat-label>
                            <mat-select id="serviceTypeSelect" name="serviceTypeSelect" formControlName="serviceType"
                                        (selectionChange)="promotionService.loadPackageArray(focusPromotion.serviceType)"
                                        [(ngModel)]="focusPromotion.serviceType">
                                <mat-option value="WASH">Wash</mat-option>
                                <mat-option value="DETAIL">Detail</mat-option>
                                <mat-option value="WASH_AND_DETAIL">Wash and Detail</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="submit" (click)="promotionService.validFormSteps.set(E_PROMO_FORM_STEPS.SERVICE_TYPE, true)">Next</button>
                    </div>
                </mat-step>

                <!--DESCRIPTION-->

                <mat-step id="description" label="Description" optional="true">
                    <div formGroupName="descriptionFormGroup">
                        <p>Briefly describe the promotion</p>

                        <mat-form-field>
                            <input matInput
                                   placeholder="Ex: Get a 10% discount when coming in between 8:00AM and 10:00AM"
                                   formControlName="description" [(ngModel)]="focusPromotion.description">
                        </mat-form-field>
                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="submit" (click)="promotionService.validFormSteps.set(E_PROMO_FORM_STEPS.DESCRIPTION, true)">Next</button>
                    </div>
                </mat-step>

                <!--FREQUENCY GROUP-->
                <mat-step [stepControl]="frequencyFormGroup" id="frequency" label="Scheduling">
                    <div formGroupName="schedulingFormGroup">
                        <div class="row">
                            <div class="col-md-4">
                                <p>Will this be a reoccurring promotion?</p>
                                <mat-radio-group class="promo-radio-group" formControlName="isReoccurring"
                                                 [(ngModel)]="focusPromotion.isReoccurring">
                                    <mat-radio-button [value]="false" class="promo-radio-button">No</mat-radio-button>
                                    <mat-radio-button [value]="true" class="promo-radio-button">Yes</mat-radio-button>
                                </mat-radio-group>
                            </div>

                            <!--FREQUENCY-->
                            <div *ngIf="focusPromotion.isReoccurring" formGroupName="frequencyFormGroup" class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <span>On what basis will it be reoccurring?</span>
                                        <mat-form-field class="input-group">
                                            <mat-select id="reoccurringSelect" name="reoccurringSelect"
                                                        formControlName="frequencyType" [(ngModel)]="focusPromotion.frequency.type">
                                                <mat-option value="WEEKLY">Weekly</mat-option>
                                                <mat-option value="MONTHLY">Monthly</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6" *ngIf="focusPromotion.frequency.type === E_FREQUENCY.WEEKLY && focusPromotion.isReoccurring">
                                        <span>What day of the WEEK will this be available</span>
                                        <mat-form-field>
                                            <mat-select id="daySelect" name="daySelect" formControlName="frequencyValue" [(ngModel)]="focusPromotion.frequency.value">
                                                <mat-option [value]="day" *ngFor="let day of K_DAY">{{day}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-6" *ngIf="focusPromotion.frequency.type === E_FREQUENCY.MONTHLY && focusPromotion.isReoccurring">
                                        <span>What day of the MONTH will this be available?</span>
                                        <mat-form-field>
                                            <mat-select id="dateSelect" name="dateSelect" formControlName="frequencyValue" [(ngModel)]="focusPromotion.frequency.value">
                                                <mat-option [value]="(i + 1).toString()" *ngFor="let date of [].constructor(28); let i = index">{{i + 1}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <!--DATE-->

                            <div class="col-md-4" *ngIf="!focusPromotion.isReoccurring">
                                <span>On what date will this promotion BEGIN</span>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="startDate"
                                           formControlName="startDate" required [(ngModel)]="focusPromotion.startDate">
                                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                    <mat-datepicker #startDate startView="year" [startAt]="startDate"></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4" *ngIf="!focusPromotion.isReoccurring">
                                <span>On what date will this promotion END</span>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="endDate"
                                           formControlName="endDate" required [(ngModel)]="focusPromotion.endDate">
                                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                    <mat-datepicker #endDate startView="year" [startAt]="startDate"></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="submit" (click)="promotionService.validFormSteps.set(E_PROMO_FORM_STEPS.SCHEDULING, true)">Next</button>
                    </div>
                </mat-step>

                <!--PROMOTION TIME-->

                <mat-step [stepControl]="activeTimeFormGroup" label="Promotion Time">
                    <div formGroupName="activeTimeFormGroup">
                        <p>What hours will this promotion be active</p>

                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                     <mat-label>Choose a start time</mat-label>
                                    <input id="openTime" type="time" matInput [matDatepicker]="startTime"
                                           formControlName="startTime">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="startTime"></mat-datepicker-toggle>
                                    <mat-datepicker #startTime></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-label>Choose an end time</mat-label>
                                    <input id="endTime" type="time" matInput [matDatepicker]="endTime"
                                           formControlName="endTime">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="endTime"></mat-datepicker-toggle>
                                    <mat-datepicker #endTime></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="submit" (click)="promotionService.validFormSteps.set(E_PROMO_FORM_STEPS.PROMOTION_TIME, true)">Next</button>
                    </div>
                </mat-step>

                <!--DISCOUNT GROUP-->

                <mat-step [stepControl]="discountFormGroup" label="Discount">
                    <div formGroupName="discountFormGroup">

                        <div class="row">
                            <div class="col-sm-6">

                                <!--DISCOUNT TYPE-->

                                <p>What kind of discount will the consumer receive?</p>
                                <mat-form-field>
                                    <mat-label for="discountSelect">Discount Type</mat-label>
                                    <mat-select id="discountSelect" name="discountSelect"
                                                formControlName="discountType"
                                                [(ngModel)]="focusPromotion.discount.discountType">
                                        <mat-option value="DOLLAR">Dollar Amount</mat-option>
                                        <mat-option value="PERCENT">Percent Amount</mat-option>
                                        <mat-option value="FREE">Free Feature(s)</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <div *ngIf="focusPromotion.discount.discountType !== E_DISCOUNT_TYPE.FREE">
                                    <p>How much off will they receive?</p><br>
                                    <mat-form-field class="full-width">
                                        <input matInput type="text" placeholder="Enter discount amount"
                                               formControlName="discountAmount"
                                               [(ngModel)]="focusPromotion.discount.discountAmount">
                                    </mat-form-field>
                                </div>

                                <div *ngIf="focusPromotion.discount.discountType === E_DISCOUNT_TYPE.FREE">
                                    <p>What free feature(s) will they receive</p><br>
                                    <mat-form-field>
                                        <mat-label for="discountFeatureSelect">Feature(s)</mat-label>
                                        <mat-select formControlName="discountFeatures" multiple
                                                    id="discountFeaturesSelect" name="discountFeaturesSelect"
                                                    [(ngModel)]="focusPromotion.discount.discountFeatures">
                                            <mat-option
                                                    *ngFor="let packageItem of promotionService.displayPackageItems | async"
                                                    [value]="packageItem.name">{{packageItem.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="submit" (click)="promotionService.validFormSteps.set(E_PROMO_FORM_STEPS.DISCOUNT, true)">Next</button>
                    </div>
                </mat-step>

                <!--DISCOUNT PACKAGES-->

                <mat-step label="Discounted Packages">
                    <div formGroupName="discountPackagesFormGroup">
                        <p>What packages will the discount be for?</p>

                        <mat-form-field>
                            <mat-label for="packageSelect">Packages</mat-label>
                            <mat-select id="packageSelect" formControlName="discountPackages" multiple
                                        name="packageSelect"
                                        [(ngModel)]="focusPromotion.discountPackages">
                                <mat-option *ngFor="let _package of promotionService.currentPackageArray; let i = index"
                                            [value]="_package.name">{{_package.name}}</mat-option>

                            </mat-select>
                        </mat-form-field>

                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="submit"(click)="promotionService.validFormSteps.set(E_PROMO_FORM_STEPS.DISCOUNTED_PACKAGES, true)">Next</button>
                    </div>
                </mat-step>

                <!--COMPLETE-->

                <mat-step label="Complete Promo">
                    <p>All done! Click
                        <strong *ngIf="promotionService.creatingNewPromotion == true">"Create Promo"</strong>
                        <strong *ngIf="promotionService.creatingNewPromotion == false">Save Promo</strong>
                        to make package live!</p>

                    <button mat-button matStepperPrevious type="button">Back</button>
                    <button *ngIf="promotionService.creatingNewPromotion == false" mat-raised-button color="primary"
                            type="button" (click)="updatePromotion(promotionForm);">
                        Save Promo
                    </button>

                    <button *ngIf="promotionService.creatingNewPromotion == true" mat-raised-button color="primary"
                            type="button" (click)="createPromotion(promotionForm);">Create Promo</button>
                </mat-step>
            </mat-vertical-stepper>
        </form>
    </div>
</div>
