<div class="promo-form-block">
    <div *ngIf="(promotionService.promotion | async) as focusPromotion" id="form-row">
        <form [formGroup]="promotionForm" novalidate (ngSubmit)="createPromo()">
            <mat-vertical-stepper id="promo-form-stepper" class="custom-class" linear="false">
                <mat-step  id="serviceType" label="Service Type">
                    <div formGroupName="serviceTypeFormGroup">
                        <p>What type of service is this for?</p>

                        <mat-form-field>
                            <mat-label for="serviceTypeSelect">Service Type</mat-label>
                            <mat-select id="serviceTypeSelect" name="serviceTypeSelect" formControlName="serviceType"
                                        [(ngModel)]="focusPromotion.serviceType">
                                <mat-option value="WASH">Wash</mat-option>
                                <mat-option value="DETAIL">Detail</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-button matStepperNext type="button">Next</button>
                    </div>
                </mat-step>

                <mat-step  id="name" label="Name">
                    <div formGroupName="nameFormGroup">
                        <p>What is the name/title of this promo?</p>

                        <mat-form-field>
                            <input matInput placeholder="Ex: Early Bird Special" type="text" formControlName="name"
                                   required [value]="focusPromotion.name" [(ngModel)]="focusPromotion.name">
                        </mat-form-field>
                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="button">Next</button>
                    </div>
                </mat-step>

                <mat-step  id="description" label="Description" optional="true">
                    <div formGroupName="descriptionFormGroup">
                        <p>Briefly describe the promotion</p>

                        <mat-form-field>
                            <input matInput placeholder="Ex: Get a 10% discount when coming in between 8:00AM and 10:00AM"
                                   formControlName="description" [(ngModel)]="focusPromotion.description">
                        </mat-form-field>
                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="button">Next</button>
                    </div>
                </mat-step>

                <mat-step [stepControl]="frequencyFormGroup" id="frequency" label="Frequency">
                    <div formGroupName="frequencyFormGroup">
                        <div class="row">
                            <div class="col-md-4">
                                <p>How often will this promotion be available?</p>
                                <mat-radio-group class="promo-radio-group" formControlName="frequencyType" [(ngModel)]="focusPromotion.frequencyType">
                                    <mat-radio-button value="ONE_TIME" class="promo-radio-button">One-Time
                                    </mat-radio-button>
                                    <mat-radio-button value="REOCCURRING" class="promo-radio-button">Reoccurring
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>

                            <div class="col-md-4" *ngIf="focusPromotion.frequencyType === E_FREQUENCY_TYPE.REOCCURRING">
                                <p>On what basis will it be reoccurring?</p>
                                <div class="input-group">
                                    <select id="reoccurringSelect" class="custom-select" name="reoccurringSelect"
                                            formControlName="frequency" [(ngModel)]="focusPromotion.frequency">
                                        <option value="DAILY">Daily</option>
                                        <option value="WEEKLY">Weekly</option>
                                        <option value="MONTHLY">Monthly</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4" *ngIf="focusPromotion.frequencyType === E_FREQUENCY_TYPE.ONE_TIME">
                                <p>Choose when the promotion will begin.<br>It will reoccur on a {{focusPromotion.frequency}}
                                    basis.</p>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="startDate" placeholder="Choose a START date"
                                           formControlName="startDate" required [(ngModel)]="focusPromotion.startDate">
                                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                    <mat-datepicker #startDate startView="year" [startAt]="startDate"></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field>
                                    <input matInput [matDatepicker]="endDate" placeholder="Choose an END date"
                                           formControlName="endDate" required [(ngModel)]="focusPromotion.endDate">
                                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                    <mat-datepicker #endDate startView="year" [startAt]="startDate"></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-md-4" *ngIf="focusPromotion.frequencyType === E_FREQUENCY_TYPE.REOCCURRING">
                                <p>Choose when the promotion will be available to use</p>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="endDate" placeholder="Choose an END date"
                                           formControlName="endDate" required [(ngModel)]="focusPromotion.endDate">
                                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                    <mat-datepicker #endDate startView="year" [startAt]="startDate"></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>

                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="button">Next</button>
                    </div>
                </mat-step>

                <mat-step [stepControl]="discountFormGroup" label="Discount">
                    <div formGroupName="discountFormGroup">

                        <div class="row">
                            <div class="col-sm-6">
                                <p>What kind of discount will the consumer receive?</p>
                                <mat-form-field>
                                    <mat-label for="discountSelect">Discount Type</mat-label>
                                    <mat-select id="discountSelect" name="discountSelect"
                                                formControlName="discountType" [(ngModel)]="focusPromotion.discount.discountType">
                                        <mat-option value="DOLLAR">Dollar Amount</mat-option>
                                        <mat-option value="PERCENT">Percent Amount</mat-option>
                                        <mat-option value="FREE">Free Feature(s)</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <div *ngIf="focusPromotion.discount.discountType !== E_DISCOUNT_TYPE.FREE">
                                    <p>How much off will they receive?</p><br>
                                    <mat-form-field class="full-width">
                                        <input matInput type="text" placeholder="Enter discount amount"
                                               formControlName="discountAmount" [(ngModel)]="focusPromotion.discount.discountAmount">
                                    </mat-form-field>
                                </div>

                                <div *ngIf="focusPromotion.discount.discountType === E_DISCOUNT_TYPE.FREE">
                                    <p>What free feature will they receive</p><br>
                                    <mat-form-field>
                                        <mat-label for="discountFeatureSelect">Feature(s)</mat-label>
                                        <mat-select  formControlName="discountFeatures" multiple id="discountFeaturesSelect" name="discountFeaturesSelect"
                                                     [(ngModel)]="focusPromotion.discount.discountFeatures">
                                            <mat-option *ngFor="let packageItem of promotionService.allPackageItems | async"
                                                        [value]="packageItem.name">{{packageItem.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="button">Next</button>
                    </div>
                </mat-step>

                <mat-step label="Discounted Packages">
                    <div formGroupName="discountPackagesFormGroup">
                        <p>What packages will the discount be for?</p>

                        <mat-form-field  *ngIf="focusPromotion.serviceType === E_SERVICE_TYPE.WASH">
                            <mat-label for="packageSelect">Packages</mat-label>
                            <mat-select formControlName="discountPackages" id="packageSelect" multiple [(ngModel)]="focusPromotion.discountPackages">
                                <mat-option *ngFor="let _package of packageService.packages | async; let i = index"
                                            [value]="_package">{{_package.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="button">Next</button>
                    </div>
                </mat-step>

                <mat-step [stepControl]="activeTimeFormGroup" label="Promotion Time">
                    <div formGroupName="activeTimeFormGroup">
                        <p>What hours will this promotion be active</p>

                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-label for="startTime">Choose a start time</mat-label>
                                    <input matInput id="startTime" type="time" atp-time-picker formControlName="startTime"
                                    [(ngModel)]="focusPromotion.startTime">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <mat-label for="endTime">Choose an end time</mat-label>
                                    <input matInput id="endTime" type="time" atp-time-picker formControlName="endTime"
                                    [(ngModel)]="focusPromotion.endTime">
                                </mat-form-field>
                            </div>
                        </div>

                        <button mat-button matStepperPrevious type="button">Back</button>
                        <button mat-button matStepperNext type="button">Next</button>
                    </div>
                </mat-step>

                <mat-step label="Complete Promo">
                    <p>All done! Click <strong *ngIf="isNew">"Create Promo"</strong><strong *ngIf="isEdit">Update
                        Promo</strong> to make package live!</p>

                    <button mat-button matStepperPrevious type="button">Back</button>
                    <button mat-button type="button" (click)="clearForm()">Reset</button>
                    <button mat-raised-button color="primary" type="button" *ngIf="isEdit"
                            (click)="updatePromo(); openSnackBar(focusPromotion.name + ' Promo', 'Updated')">Update
                        Promo
                    </button>
                    <button mat-raised-button color="primary" type="submit" *ngIf="isNew"
                            (click)="openSnackBar(focusPromotion.name + ' Promo', 'Created')">
                        <strong>CreatePromo</strong>
                    </button>
                </mat-step>
            </mat-vertical-stepper>
<!--            <pre>{{promotionForm.value | json}}</pre>-->
        </form>
    </div>
</div>