<div class="menu-options-block" *ngIf="(packageService.package | async) as focusPackage">
    <form #packageOptionsForm="ngForm" name="packageOptionsForm" autocomplete="off">
        <div id="color-key-row" class="row">
            <div class="col-md-3">
                <div class="color-key">
                    <div class="color-line exterior"></div>
                    <span>Exterior</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="color-key">
                    <div class="color-line interior"></div>
                    <span>Interior</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="color-key">
                    <div class="color-box selected"></div>
                    <span>Selected</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="color-key">
                    <div class="color-box required"></div>
                    <span>Required</span>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6">
                <div class="price-container">
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" id="price" required name="price" [(ngModel)]="focusPackage.onetimePrices['REGULAR']">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="price-container">
                    <div class="form-group">
                        <label for="over-sized-price">Over-sized price</label>
                        <input type="text" class="form-control" id="over-sized-price" required name="over-sized-price" [(ngModel)]="focusPackage.onetimePrices['OVERSIZED']">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="price-container">
                    <div class="form-group">
                        <label for="time">Duration (In hours)</label>
                        <input type="text" class="form-control" id="time" required name="estimatedTime" [(ngModel)]="focusPackage.duration">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="input-group option-container" *ngFor="let item of displayPackages | keyvalue; let index = index">
                    <div [ngClass]="{'input-group-prepend': item.key.subOptions.length > 0}">
                        <button type="button" class="btn option-button"
                                [ngClass]="{'selected': item.value === true}"
                                (click)="buttonToggle($event, index, item)"
                                [attr.disabled]="item.key.isRequired ? 'disabled' : null">
                            {{item.key.name}}
                        </button>
                        <div class="button-indicator" [ngClass]="{'exterior': item.key.itemType === E_ITEM_TYPE.EXTERIOR, 'interior': item.key.itemType === E_ITEM_TYPE.INTERIOR}"></div>
                    </div>
                    <select *ngIf="item.key.subOptions.length !== 0" class="custom-select"
                            [ngClass]="{'selected': item.value === true}"
                            [attr.required]="item.key.isRequired ? 'required' : null"
                            name="item.selectedSubOption">
                        <option *ngFor="let option of item.key.subOptions;" [value]="item.key.selectedSubOptions" name="item.selectedSubOption">{{option}}</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<ng-template #loading>Loading User Data...</ng-template>