<div class="menu-options-block" *ngIf="(packageService.package | async) as focusPackage else loading">
    <div *ngIf="packageService.getPackageArrayLength() > 0" id="color-key-row" class="row">
        <div class="col-md-4">
            <div class="color-key">
                <div class="color-line exterior"></div>
                <span>Exterior</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="color-key">
                <div class="color-line interior"></div>
                <span>Interior</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="color-key">
                <div class="color-box selected"></div>
                <span>Selected</span>
            </div>
        </div>
    </div>

    <div *ngIf="packageService.getPackageArrayLength() <= 0">
        <h3>Create your first Package</h3>
    </div>

    <hr>

    <!-------------------- PACKAGE FORM ---------------------->

    <div *ngIf="packageService.creatingNewPackage == false">
        <div class="row">
            <div class="col-md-6">
                <div class="price-container">
                    <div class="form-group">
                        <label for="time">Package Name</label>
                        <input type="text" class="form-control" id="name" required name="name"
                               [(ngModel)]="focusPackage.name">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="price-container">
                    <div class="form-group">
                        <label for="time">Duration (In Minutes)</label>
                        <input type="text" class="form-control" id="time" required name="estimatedTime"
                               [(ngModel)]="focusPackage.duration">
                    </div>
                </div>
            </div>
        </div>

        <!--ONE TIME WASH INPUTS-->

        <div id="one-time-price-container" *ngIf="!packageService.isMonthly">
            <div class="row">
                <div class="col-md-6">
                    <div class="price-container">
                        <div class="form-group">
                            <label for="price">Price</label>
                            <img src="./assets/icons/icon-repeat-one.svg" alt="">
                            <input type="text" class="form-control" id="price" required name="price"
                                   [(ngModel)]="focusPackage?.oneTimePrices[E_VEHICLE_TYPE.REGULAR]">
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="price-container">
                        <div class="form-group">
                            <label for="over-sized-price">Over-sized price</label>
                            <img src="./assets/icons/icon-repeat-one.svg" alt="">
                            <input type="text" class="form-control" id="over-sized-price" required
                                   name="over-sized-price"
                                   [(ngModel)]="focusPackage.oneTimePrices[E_VEHICLE_TYPE.OVERSIZED]">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--MONTHLY WASH INPUTS-->

        <div id="monthly-price-container" *ngIf="packageService.isMonthly">
            <div class="row">
                <div class="col-md-6">
                    <div class="price-container">
                        <div class="form-group">
                            <label for="price">Price</label>
                            <img src="./assets/icons/icon-calendar-hollow.svg" alt="">
                            <input type="text" class="form-control" id="price" required name="price"
                                   [(ngModel)]="focusPackage?.monthlyPrices[E_VEHICLE_TYPE.REGULAR]">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="price-container">
                        <div class="form-group">
                            <label for="over-sized-price">Over-sized price</label>
                            <img src="./assets/icons/icon-calendar-hollow.svg" alt="">
                            <input type="text" class="form-control" id="over-sized-price" required
                                   name="over-sized-price"
                                   [(ngModel)]="focusPackage.monthlyPrices[E_VEHICLE_TYPE.OVERSIZED]">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="input-group option-container"
                     *ngFor="let item of displayPackageItems | keyvalue; let index = index">
                    <div [ngClass]="{'input-group-prepend': item.key.subOptions.length > 0}">
                        <button type="button" class="btn option-button"
                                [ngClass]="{'selected': item.value === true}"
                                (click)="buttonToggle($event, index, item)">
                            {{item.key.name}}
                        </button>
                        <div class="button-indicator"
                             [ngClass]="{'exterior': item.key.itemType === E_ITEM_TYPE.EXTERIOR, 'interior': item.key.itemType === E_ITEM_TYPE.INTERIOR}"></div>
                    </div>
                    <select *ngIf="item.key.subOptions.length != 0 || null" class="custom-select"
                            (change)="selectInputChange($event, index, item)"
                            [ngClass]="{'selected': item.value === true}" [(ngModel)]="item.key.selectedSubOption">
                        <option *ngFor="let option of item.key.subOptions;" [value]="option">{{option}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <!-------------------- NEW PACKAGE FORM ---------------------->

    <form id="new-package-form" *ngIf="packageService.creatingNewPackage == true || packageService.packageArray == null || packageService.packageArray == undefined" [formGroup]="packageForm" novalidate>
        <mat-horizontal-stepper id="pacakge-form-stepper" class="custom-class" linear="true">
            <mat-step id="name" label="Name">
                <div formGroupName="nameFormGroup">
                    <span>What is the name of this package?</span>

                    <mat-form-field>
                        <input matInput placeholder="Ex: Gold" type="text" formControlName="name" required>
                    </mat-form-field>
                    <button mat-button matStepperNext type="submit">Next</button>
                </div>
            </mat-step>

            <mat-step id="prices" label="Pricing">
                <div formGroupName="pricingFormGroup" class="price-container">
                    <p>What will the price of this package be?</p>

                    <strong>One Time Pricing</strong><img src="./assets/icons/icon-repeat-one.svg" alt="">

                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field>
                                <label for="oneTimeRegularPrice">Regular Price</label>
                                <input id="oneTimeRegularPrice" matInput type="text"
                                       formControlName="oneTimeRegularPrice" required>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field>
                                <label for="oneTimeOverSizedPrice">Over-Sized Price</label>
                                <input id="oneTimeOverSizedPrice" matInput type="text"
                                       formControlName="oneTimeOverSizedPrice" required>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <mat-checkbox (change)="toggleIsMonthly($event)">Check if this package will be monthly
                            </mat-checkbox>
                        </div>
                    </div>

                    <div id="new-monthly-price-container" class="price-container" *ngIf="isMonthly">
                        <strong>Monthly Pricing</strong><img src="./assets/icons/icon-calendar-hollow.svg" alt="">
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <label for="monthlyRegularPrice">Regular Price</label>
                                    <input id="monthlyRegularPrice" matInput type="text"
                                           formControlName="monthlyRegularPrice" required>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                <mat-form-field>
                                    <label for="monthlyRegularPrice">Over-Sized Price</label>
                                    <input id="montlyOverSizedPrice" matInput type="text"
                                           formControlName="monthlyOverSizedPrice" required>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <button mat-button matStepperPrevious type="button">Back</button>
                    <button mat-button matStepperNext type="submit">Next</button>
                </div>
            </mat-step>

            <mat-step id="duration" label="Duration">
                <div formGroupName="durationFormGroup">
                    <span>What will the approximate duration of the package be? (In Minutes)</span>

                    <div>
                        <mat-form-field>
                            <input matInput type="text" formControlName="duration" required>
                        </mat-form-field>
                    </div>

                    <button mat-button matStepperPrevious type="button">Back</button>
                    <button mat-button matStepperNext type="submit">Next</button>
                </div>
            </mat-step>

            <mat-step id="packageItems" label="Package Items">
                <div formGroupName="packageItemsFormGroup">
                    <span>Select all package items to be included in this package</span>

                    <div id="color-key-row" class="row">
                        <div class="col-md-4">
                            <div class="color-key">
                                <div class="color-line exterior"></div>
                                <span>Exterior</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="color-key">
                                <div class="color-line interior"></div>
                                <span>Interior</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="color-key">
                                <div class="color-box selected"></div>
                                <span>Selected</span>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group option-container"
                                 *ngFor="let item of displayPackageItems | keyvalue; let index = index">
                                <div [ngClass]="{'input-group-prepend': item.key.subOptions.length > 0}">
                                    <button type="button" class="btn option-button"
                                            [ngClass]="{'selected': item.value === true}"
                                            (click)="buttonToggle($event, index, item)">
                                        {{item.key.name}}
                                    </button>
                                    <div class="button-indicator"
                                         [ngClass]="{'exterior': item.key.itemType === E_ITEM_TYPE.EXTERIOR, 'interior': item.key.itemType === E_ITEM_TYPE.INTERIOR}"></div>
                                </div>
                                <select *ngIf="item.key.subOptions.length != 0 || item.key.subOptions.length == null" class="custom-select"
                                        (change)="selectInputChange($event, index, item)"
                                        [ngClass]="{'selected': item.value === true}">
                                    <option *ngFor="let option of item.key.subOptions;" [value]="option">{{option}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <button mat-button matStepperPrevious type="button">Back</button>
                    <button mat-button matStepperNext type="submit">Next</button>
                </div>
            </mat-step>

            <mat-step id="complete" label="Complete Package">
                <div>
                    <p>All Set! Click <strong>Create Package</strong> to make package live!</p>

                    <button mat-button matStepperPrevious type="button">Back</button>
                    <button type="submit" mat-raised-button color="primary"
                            (click)="createPackage(packageForm)">Create Package
                    </button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </form>
</div>

<ng-template #loading>Loading User Data...</ng-template>